/* start off with a reset */
* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
html,
body {width: 100%;height: 100%;font-size: 16px;margin: 0;padding: 0;}
html {font-size: 100%;text-rendering: optimizeLegibility !important;}

body{
    font-family: 'Poppins', sans-serif;
}

/* now we can start defining things */

/** Header Area **/
header{
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    color: #fff;
    background: #ccc;
    z-index: 2;
    padding-left:20px;
}

header h1{
    display: inline-block;
    line-height: 16px;
}

nav{
    position: absolute;
    top:0;
    right:20px;
    display: inline-block;
}

nav ul{
    list-style: none;
}
nav ul li{
    display:inline-block;
}



/** Main Area **/
main{
    position:relative;
    margin-top:60px;
    padding:60px;
    min-height:100%;
}

section.animation{
    height: 500px;
    max-width: 500px;
    width: 500px;
    -webkit-box-shadow:  0 0 5px 5px #ccc;
    -moz-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
}
/** Footer Area **/
footer{
    position:absolute;
    top:100%;
    left:0;
    background:#ccc;
    color:#fff;
    padding: 60px;
    width:100%;
}

/** Fancy Effects **/


.loop-ease{
    position:relative;
    animation: loop 10s ease infinite;
}
.loop-ease-in{
    position:relative;
    animation: loop 10s ease-in infinite;
}
.loop-ease-out{
    position:relative;
    animation: loop 10s ease-out infinite;
}
.loop-ease-in-out{
    position:relative;
    animation: loop 10s ease-in-out infinite;
}
.loop-linear{
    position:relative;
    animation: loop 10s linear infinite;
}
.loop-step-start{
    position:relative;
    animation: loop 10s step-start infinite;
}
.loop-step-end{
    position:relative;
    animation: loop 10s step-end infinite;
}

@keyframes loop {
    0% { top: 10%; left: 10%;}
    25% { top: 10%; left: 90%;}
    50% { top: 90%; left:90%;}
    75% { top:90%; left: 10%;}
    100% {top: 10%; left:10%;}
}