/* start off with a reset */
* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
html,
body {width: 100%;height: 100%;font-size: 16px;margin: 0;padding: 0;}
html {font-size: 100%;text-rendering: optimizeLegibility !important;}

body{
    font-family: 'Poppins', sans-serif;
}

/* now we can start defining things */

/** Header Area **/
.fim-header{
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    color: #fff;
    background: #ccc;
    z-index: 2;
    padding-left:20px;
}

.fim-inline{
    display: inline-block;
    line-height: 16px;
}

.fim-nav{
    position: absolute;
    top:0;
    right:20px;
    display: inline-block;
}

.fim-list-no-style{
    list-style: none;
}



/** Main Area **/
.fim-main{
    position:relative;
    margin-top:60px;
    padding:60px;
    min-height:100%;
}

.fim-animation{
    height: 500px;
    max-width: 500px;
    width: 500px;
    -webkit-box-shadow:  0 0 5px 5px #ccc;
    -moz-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
}
/** Footer Area **/
.fim-footer{
    position:absolute;
    top:100%;
    left:0;
    background:#ccc;
    color:#fff;
    padding: 60px;
    width:100%;
}

/** Fancy Effects **/


.loop-ease{
    position:relative;
    animation: loop 10s ease infinite;
}
.loop-ease-in{
    position:relative;
    animation: loop 10s ease-in infinite;
}
.loop-ease-out{
    position:relative;
    animation: loop 10s ease-out infinite;
}
.loop-ease-in-out{
    position:relative;
    animation: loop 10s ease-in-out infinite;
}
.loop-linear{
    position:relative;
    animation: loop 10s linear infinite;
}
.loop-step-start{
    position:relative;
    animation: loop 10s step-start infinite;
}
.loop-step-end{
    position:relative;
    animation: loop 10s step-end infinite;
}

@keyframes loop {
    0% { top: 10%; left: 10%;}
    25% { top: 10%; left: 90%;}
    50% { top: 90%; left:90%;}
    75% { top:90%; left: 10%;}
    100% {top: 10%; left:10%;}
}

.pointer{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.point-left{
    border-right: 10px solid black;
    border-left: none;
}

.point-right{
    border-left:10px solid black;
    border-right: none;
}
.point-up{
    border-bottom: 10px solid black;
    border-top: none;
}
.point-down{
    border-top: 10px solid black;
    border-bottom: none;
}
.pointer-20{
    border-width: 20px;
    height: 20px;
    width: 20px;
}
.pointer-40{
    border-width: 40px;
    height: 40px;
    width: 40px;
}
.pointer-80{
    border-width: 80px;
    height: 80px;
    width: 80px;
}
